<!DOCTYPE html>
<html>
<head>
    <title>Fake News Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Fake News Detection</h1>
        <form action="/predict" method="POST">
            <input type="text" name="article_url" placeholder="Enter Article URL">
            <input type="text" name="news_statement" placeholder="Enter News Statement">
            <button type="submit">Predict</button>
        </form>
        
        {% if prediction %}
            <div class="result {% if 'Fake' in prediction %}error{% else %}success{% endif %}">
                {{ prediction|safe }}
            </div>
        {% endif %}
    </div>
</body>
</html>
